header {
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(163, 163, 163, 0.411);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
header img {
  width: 65px;
}

.logo {
  display: flex;
  align-items: center;
}
